@{ ViewData["Title"] = "Party"; }
@model IEnumerable<PartyModel>

<div class="text-center">
    <h3 class="h3 font-weight-normal">Party List</h3>
</div>

<div class="float-right">
    <a class="btn btnAdd" asp-controller="Party" asp-action="PartyAdd">Add Party</a>
</div>
<br />
<br />
@if (ViewBag.delete == true)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry,</strong> You can not delete this Party Because this Party is Assigned to Product(s).
    </div>
}
<br />

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="15%">
                    <a class="nav-link" asp-controller="Party" asp-action="Party" asp-route-SortOrder="@ViewData["SortById"]" style="color:black">
                        #
                        @if (ViewBag.AscId == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscId == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th>
                    <a class="nav-link" asp-controller="Party" asp-action="Party" asp-route-SortOrder="@ViewData["SortByParty"]" style="color:black">
                        Party Name
                        @if (ViewBag.AscParty == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscParty == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th width="30%"><a class="nav-link">Action</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.PartyName</td>
                    <td>
                        <a asp-controller="Party" asp-action="PartyEdit" asp-route-id="@item.Id" data-value="@item.Id" asp-route-partyname="@item.PartyName" class="btn btn-info">Edit</a>
                        <a asp-controller="Party" asp-action="PartyDelete" data-value="@item.Id" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure... You want to Delete this Party ?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>