@{
    ViewData["Title"] = "Assign Party";
}
@model IEnumerable<AssignPartyModel>

<div class="text-center">
    <h3 class="h3 font-weight-normal">Assign Party List</h3>
</div>

<div class="float-right">
    <a class="btn btnAdd" asp-controller="AssignParty" asp-action="AssignPartyAdd">Assign Party</a>
</div>
<br />
<br />
<br />

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="15%">
                    <a class="nav-link" asp-controller="AssignParty" asp-action="AssignParty" asp-route-SortOrder="@ViewData["SortById"]" style="color:black">
                        #
                        @if (ViewBag.AscId == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscId == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th>
                    <a class="nav-link" asp-controller="AssignParty" asp-action="AssignParty" asp-route-SortOrder="@ViewData["SortByParty"]" style="color:black">
                        Party Name
                        @if (ViewBag.AscParty == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscParty == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                        <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th>
                    <a class="nav-link" asp-controller="AssignParty" asp-action="AssignParty" asp-route-SortOrder="@ViewData["SortByProduct"]" style="color:black">
                        Product
                        @if (ViewBag.AscProduct == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscProduct == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                        <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th width="30%"><a class="nav-link">Action</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Party.PartyName</td>
                    <td>@item.Product.ProductName</td>
                    <td>
                        <a asp-controller="AssignParty" asp-action="AssignPartyEdit" asp-route-id="@item.Id" asp-route-partyid="@item.PartyId" asp-route-productid="@item.ProductId" data-value="@item.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="AssignParty" asp-action="AssignPartyDelete" data-value="@item.Id" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure... You want to Delete this Assigned Party ?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>