@{
    ViewData["Title"] = "Product Rate";
}
@model IEnumerable<ProductRateModel>

<div class="text-center">
    <h3 class="h3 font-weight-normal">Product Rate List</h3>
</div>

<div class="float-right">
    <a class="btn btnAdd" asp-controller="ProductRate" asp-action="ProductRateAdd">Add Product Rate</a>
</div>
<br />
<br />
<br />

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="10%">
                    <a class="nav-link" asp-controller="ProductRate" asp-action="ProductRate" asp-route-SortOrder="@ViewData["SortById"]" style="color:black">
                        #
                        @if (ViewBag.AscId == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscId == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th>
                    <a class="nav-link" asp-controller="ProductRate" asp-action="ProductRate" asp-route-SortOrder="@ViewData["SortByProduct"]" style="color:black">
                        Product Name
                        @if (ViewBag.AscProduct == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscProduct == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th width="20%">
                    <a class="nav-link" asp-controller="ProductRate" asp-action="ProductRate" asp-route-SortOrder="@ViewData["SortByRate"]" style="color:black">
                        Rate
                        @if (ViewBag.AscRate == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscRate == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th width="20%">
                    <a class="nav-link" asp-controller="ProductRate" asp-action="ProductRate" asp-route-SortOrder="@ViewData["SortByDateofRate"]" style="color:black">
                        Date of Rate
                        @if (ViewBag.AscDateOfRate == "Asc")
                        {
                            <img src="~/images/SortUp.png" class="float-right" />
                        }
                        else if (ViewBag.AscDateOfRate == "Desc")
                        {
                            <img src="~/images/SortDown.png" class="float-right" />
                        }
                        else
                        {
                            <img src="~/images/Sort.png" class="float-right" />
                        }
                    </a>
                </th>
                <th width="25%"><a class="nav-link">Action</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Rate</td>
                    <td>@item.DateOfRate.Date.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a asp-controller="ProductRate" asp-action="ProductRateEdit" asp-route-id="@item.Id" asp-route-productid="@item.ProductId" asp-route-rate="@item.Rate" asp-route-dateofrate="@item.DateOfRate" data-value="@item.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="ProductRate" asp-action="ProductRateDelete" data-value="@item.Id" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure... You want to Delete this Product Rate ?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>